# Database Configuration (Supabase)
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.lepbhducicrszlqfcvnz
DB_PASS=MASUKKAN_PASSWORD_SUPABASE_KAMU

# App Configuration
BASE_URL=https://nama-project-kamu.vercel.app/web
